.infoBox {
    display: grid;
    grid-template-columns: 10fr 13fr;
    grid-template-rows: 35vh 15vh;
    gap: 30px 50px;
    grid-template-areas:
    "item1 item3"
    "item2 item3"
    ;
}
.item{
    border: 1px solid orange;
}
.item1{
    grid-area: item1;
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-content: start;
}
.item1Text {
    display: grid;
    grid-template-rows: 5fr 2fr;
    align-items: center;
}
.item2{
    grid-area: item2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
}
.item3{
    grid-area: item3;
    display: grid;
    grid-template-columns: repeat(5, 10vw);
    grid-template-rows: repeat(2, 12vw) 6vh 6vh;
    gap: 0 1vw;
    grid-template-areas:
    "pic1 pic1 pic1 pic2 pic3"
    "pic1 pic1 pic1 pic4 pic4"
}
.bigPic {
    display: grid;
    border: 2px solid black;
    grid-area: pic1;
}
.arrow{
    display: grid;
    grid-area: pic2;
    border: 2px solid black;
}
.dots {
    display: grid;
    grid-area: 1/5/3/6;
    border: 2px solid black;
}
.smallPic {
    display: grid;
    grid-area: 2/4/4/6;
    border: 2px solid black;
}
.buttonPicCommon{
    display: grid;
    grid-area: 4/2/5/3;
    grid-template-columns: 1fr 1fr;
    border: 2px solid black;
}
.boldText {
    font-family: Poppins;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: left;
}
.button1{
    border-radius: 12px;
    background: black;
    color: white;
}
.button2{
    border-radius: 12px;
    border: 1.5px solid black;
}
.buttonCommon{
    display: grid;
    grid-template-columns: 12fr 10fr 11fr;
    gap: 0 15px;
    align-items: end;
}
.stat {
    display: grid;
    grid-template-rows: 2fr 1fr;
}
.strong{
    font-family: Public Sans;
    font-size: 36.77px;
    font-weight: 600;
    line-height: 45.96px;
}
.weak {
    font-family: Inter;
    font-size: 12.26px;
    font-weight: 500;
    line-height: 18.39px;

}