.infoBox {
    display: grid;
    grid-template-columns: 10fr 13fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 50px;
    grid-template-areas:
    "item1 item3"
    "item2 item3"
    ;
}
.item{
    border: 1px solid orange;
}
.item1{
    grid-area: item1;
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-content: start;
}
.item1Text {
    display: grid;
    grid-template-rows: 5fr 2fr;
    align-items: center;
}
.item2{
    grid-area: item2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 10vh;
}
.item3{
    grid-area: item3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0 1vw;
    grid-template-areas:
    "pic1 pic1 pic1 pic2 pic3"
    "pic1 pic1 pic1 pic4 pic3"
    "pic0 pic0 pic0 pic4 pic3"
}
.bigPic {
    display: grid;
    border: 2px solid black;
    grid-area: pic1;
}
.arrow{
    display: grid;
    grid-area: pic2;
}
.dots {
    display: grid;
    grid-area: pic3;
}
.smallPic {
    display: grid;
    grid-area: pic4;
}
.boldText {
    font-family: Poppins;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: left;
}
.button1{
    border-radius: 12px;
    background: black;
    color: white;
}
.button2{
    border-radius: 12px;
    border: 1.5px solid black;
}
.buttonCommon{
    display: grid;
    grid-template-columns: 12fr 10fr 11fr;
    gap: 0 15px;
    align-items: end;
}
.stat {
    display: grid;
    grid-template-rows: 2fr 1fr

}