.infoBox {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 5fr 1fr;
    grid-template-areas:
    "item1 item3"
    "item2 item3"
    ;
}
.item{
    border: 1px solid orange;
}
.item1{
    grid-area: item1;
    display: grid;
    grid-template-rows: 4fr 1fr;
    justify-content: start;
}
.item1Text {
    display: grid;
    grid-template-rows: 5fr 2fr;
    align-items: end;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.boldText {
    font-family: Poppins;
    font-size: 75px;
    font-weight: 600;
    line-height: 90px;
    letter-spacing: -3px;
    text-align: left;
}