.mobileWrapper {
  width: 100%;
}
.headerMobile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 30px;
  border-bottom: 1px solid #CBCBCB;
  align-items: center;
  padding-bottom: 30px;
}
.leftHeaderMobile{
  display: flex;
  align-items: center;
}
.rightHeaderMobile {
  display: flex;
  justify-content: flex-end;
}

.heroMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}

.topic {
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 2vw;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.buttonsLine {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 4vw;
  margin-top: 35px;
}
.mainInfo
{
  font-weight: 600;
  font-size: 47px;
  line-height: 57px;
}
.mainText {
  font-size: 12px;
}
.blackText {
  color: black;
  font-weight: 700;
}
.trustPilot {
display: flex;
  align-items: center;
  gap: 16px;
  margin: 20px 0;
}