.background{
  background-color: #F1F1F1;
  width: 100%;
}
.header {
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  line-height: 26.92px;
  color: #C5C5C5;
  text-align: center;
  padding: 10vh;
}
.buttonCommon{
  color: #f9f9f9

}