.stat {
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.strong{
  font-family: Public Sans;
  font-size: 36.77px;
  font-weight: 600;
  line-height: 45.96px;
}
.weak {
  font-family: Inter;
  font-size: 12.26px;
  font-weight: 500;
  line-height: 18.39px}