.card {
  display: flex;
  flex-direction: row;
  background: #fafafa;
}

.authorAndOwner {
  display: flex;
  flex-direction: row;
}

.nameAndDescription {
  display: flex;
  flex-direction: column;
}

.cardName {
  display: flex;
  flex-direction: column;
}

.picContainer {
  display: flex;
}
