
.box1 {
  display: flex;
  flex-direction: row;
  color: #606060;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}
.box {
  display: flex;
  align-items: center;
  gap: 70px;
  color: #606060;
}

.link:active,
.link:hover,
.link {
  text-decoration: none;
  color: #606060;
}

.table {
  background: #141416;
  color: #b9b9b9;
  display: flex;
  flex-direction: column;
}

.line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  margin: 80px 30px 30px 30px;
  border-bottom: 2px solid #818181;
}

.line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 35px 80px 35px;
}

.rights {
  font-size: 17px;
  width: 286px;
}

.whiteLogo {
  color: white;
  display: flex;
  align-items: center;
  gap: 1vw;
  font-size: 30px;
}

.link:active {
  color: black;
}
