.table
{
  display: grid;
  text-align: end;
  grid-template-rows: 10vh 7vh auto ;
  grid-template-areas:
  "header"
  "title"
  "line"
/*можно попробовать убрать все грид-темплейт-ареа*/
  /*"name volume h24 floor owners items"
  "name volume h24 floor owners items"
  "name volume h24 floor owners items"*/
}

  .header {
    grid-area: header;
    text-align: center;
    color: black;
    font-size: 40px;
  }

  .title {
    grid-area: title;
    display: grid;
    grid-template-columns: 4fr repeat(5, 3fr);
  }
  .collection {
    display: grid;
    text-align: start;
  }

  .items {
    grid-area: items;   display: grid;
    grid-template-rows: repeat(4, 10vh);
  }
  .explore {
    display: grid;
    justify-content: end;
    color: #ACADB9;
  }
  .font {
    font-family: Poppins;
  }
  .line {
    display: grid;
    grid-area: line;
  }
