@import "src/variables";

.mobileWrapper {
  width: 100%;
}

.background {
  display: grid;
  background: #f9f9f9;
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: $max-width-mobile) {
  .background {
    max-width: 100%;
  }
}

.topCollectionMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  font-family: Poppins, sans-serif;
  gap: 30px;
}

.tableTopCollection {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  color: #93989a;
}

.tableLine {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 7px 0;
}

.nameAndAuthor {
  display: flex;
  flex-direction: column;
}

.picAndName {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.linePic {
  display: flex;
  width: 60px;
}


.EthereumMobile {
  max-height: 17px;
}

.green {
  color: #10c352;
}

.red {
  color: red;
}

.previewPic {
  max-width: 44.5px;
  height: auto;
}

.lines {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bigContainer {
  display: flex;
  align-self: center;
}

.smallContainer {
  background: white;
  position: absolute;
  align-self: end;
  width: 21px;
  height: 21px;
  display: flex;
  left: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 600;
}
