.table{background: #141416;
  width: 100%;
  color: #B9B9B9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
  "line1 line1"
  "line2 line2"
}
.line1 {
  grid-area: line1;
  display: grid;
}
.line2 {
  grid-area: line2;
  display: grid;
}